@model SistemaInventario.Models.Brand

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Crear marca";
}

<form method="post">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:0.4rem;">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        @if (Model.Id != 0)
        {
            title = "Actualizar marca";
            <input type="hidden" asp-for="Id" id="Id" />
        }

        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@title</h2>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre</label>
                <input type="text" asp-for="Name" class="form-control" placeholder="Nombre de la marca" id="name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Descripción</label>
                <input type="text" asp-for="Description" class="form-control" placeholder="Descripcion de la marca" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Estado</label>
                <select asp-for="BState" class="form-select">
                    <option value=true>Activo</option>
                    <option value="false">Inactivo</option>
                </select>
                <span asp-validation-for="BState" class="text-danger"></span>
            </div>
        </div>

        <br />
        <div>
            @if (Model.Id != 0)
            {
                <partial name="_UpdateBackButtons" model="Model.Id" />
            }
            else
            {
                <partial name="_AddBackButtons" />
            }
        </div>

    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.getElementById("name").addEventListener('change', function () {
            ValidationName();
        });

        function ValidationName() {
            var url = '@Url.Content("~/")' + "Admin/Brand/ValidationName";
            var id = '#id';
            var name = '#name';

            $.getJSON(url, { id: $(id).val(), name: $(name).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var nombre = document.getElementById("name");
                        swal("Error", "Nombre ya existe", "error");
                        nombre.value = "";
                    };
                });
            });
        }
    </script>
}

